In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta
import glob
import os

import warnings
warnings.filterwarnings(action='ignore')

### 1. 버스

In [2]:
# 파일 불러오기
file = pd.read_excel('data/증감률/버스.xlsx', index_col=[0, 1])
file

                   정류장명         X좌표        Y좌표                     주소
2018 0          종로2가사거리  126.987750  37.569765   서울특별시 종로구 종로2가 84-11
     1      창경궁.서울대학교병원  126.996566  37.579183     서울특별시 종로구 와룡동 2-87
     2        명륜3가.성대입구  126.998340  37.582671   서울특별시 종로구 명륜4가 193-2
     3         종로2가.삼일교  126.987613  37.568579      서울특별시 종로구 관철동 268
     4           혜화동로터리  127.001744  37.586243       서울특별시 종로구 혜화동 56
...                 ...         ...        ...                    ...
2020 11275        우성아파트  127.139339  37.550386     서울특별시 강동구 천호동 19-1
     11276        우성아파트  127.140046  37.550643  서울특별시 강동구 암사동 421-110
     11277         조일약국  127.123596  37.533630    서울특별시 강동구 성내동 127-1
     11278         성내시장  127.125497  37.536155     서울특별시 강동구 성내동 38-3
     11279  천호우체국.로데오거리  127.127337  37.540343    서울특별시 강동구 천호동 421-4

[33413 rows x 4 columns]

In [3]:
file.reset_index(inplace=True)
file.drop('level_1', axis=1, inplace=True)
file.rename({'level_0':'년'}, axis=1, inplace=True)
file

          년         정류장명         X좌표        Y좌표                     주소
0      2018      종로2가사거리  126.987750  37.569765   서울특별시 종로구 종로2가 84-11
1      2018  창경궁.서울대학교병원  126.996566  37.579183     서울특별시 종로구 와룡동 2-87
2      2018    명륜3가.성대입구  126.998340  37.582671   서울특별시 종로구 명륜4가 193-2
3      2018     종로2가.삼일교  126.987613  37.568579      서울특별시 종로구 관철동 268
4      2018       혜화동로터리  127.001744  37.586243       서울특별시 종로구 혜화동 56
...     ...          ...         ...        ...                    ...
33408  2020        우성아파트  127.139339  37.550386     서울특별시 강동구 천호동 19-1
33409  2020        우성아파트  127.140046  37.550643  서울특별시 강동구 암사동 421-110
33410  2020         조일약국  127.123596  37.533630    서울특별시 강동구 성내동 127-1
33411  2020         성내시장  127.125497  37.536155     서울특별시 강동구 성내동 38-3
33412  2020  천호우체국.로데오거리  127.127337  37.540343    서울특별시 강동구 천호동 421-4

[33413 rows x 5 columns]

In [4]:
file['데이터']='버스'
file['구'] = file['주소'].str.split(' ').str[1]
file

,년,정류장명,X좌표,Y좌표,주소,데이터,구
0,2018,종로2가사거리,126.987750,37.569765,서울특별시 종로구 종로2가 84-11,버스,종로구
1,2018,창경궁.서울대학교병원,126.996566,37.579183,서울특별시 종로구 와룡동 2-87,버스,종로구
2,2018,명륜3가.성대입구,126.998340,37.582671,서울특별시 종로구 명륜4가 193-2,버스,종로구
3,2018,종로2가.삼일교,126.987613,37.568579,서울특별시 종로구 관철동 268,버스,종로구
4,2018,혜화동로터리,127.001744,37.586243,서울특별시 종로구 혜화동 56,버스,종로구
...,...,...,...,...,...,...,...
33408,2020,우성아파트,127.139339,37.550386,서울특별시 강동구 천호동 19-1,버스,강동구
33409,2020,우성아파트,127.140046,37.550643,서울특별시 강동구 암사동 421-110,버스,강동구
33410,2020,조일약국,127.123596,37.533630,서울특별시 강동구 성내동 127-1,버스,강동구
33411,2020,성내시장,127.125497,37.536155,서울특별시 강동구 성내동 38-3,버스,강동구
33412,2020,천호우체국.로데오거리,127.127337,37.540343,서울특별시 강동구 천호동 421-4,버스,강동구

In [5]:
# 데이터 분리
data_2017 = file[file['년']==2018].reset_index(drop=True)
data_2018 = file[file['년']==2018].reset_index(drop=True)
data_2019 = file[file['년']==2019].reset_index(drop=True)
data_2020 = file[file['년']==2020].reset_index(drop=True)

In [6]:
gu_2017=[]
gu = data_2017['구'].unique()
for i in range(len(gu)) :
    gu_2017.append(len(data_2017[data_2017['구'] == gu[i]]))
    
print(gu_2017, '\n', sum(gu_2017), len(data_2017))

[381, 207, 439, 534, 349, 286, 318, 379, 610, 537, 460, 386, 494, 445, 568, 363, 478, 576, 342, 492, 459, 648, 485, 413, 349]
 10998 10998

In [7]:
gu_2018=[]
gu = data_2018['구'].unique()
for i in range(len(gu)) :
    gu_2018.append(len(data_2018[data_2018['구'] == gu[i]]))
    
print(gu_2018, '\n', sum(gu_2018), len(data_2018))

[381, 207, 439, 534, 349, 286, 318, 379, 610, 537, 460, 386, 494, 445, 568, 363, 478, 576, 342, 492, 459, 648, 485, 413, 349]
 10998 10998

In [8]:
gu_2019=[]
gu = data_2019['구'].unique()
for i in range(len(gu)) :
    gu_2019.append(len(data_2019[data_2019['구'] == gu[i]]))
    
print(gu_2019, '\n', sum(gu_2019), len(data_2019))

[374, 447, 211, 292, 442, 344, 319, 380, 603, 544, 448, 391, 485, 506, 567, 365, 513, 603, 548, 362, 505, 446, 649, 429, 385]
 11158 11158

In [10]:
bus_df = pd.DataFrame([ x for x in zip(gu, gu_2017, gu_2018, gu_2019)]).reset_index(drop=True)
bus_df.rename({0:'자치구',
                1:'2017년',
                2:'2018년',
                3:'2019년'}, axis=1, inplace=True)

In [11]:
# 18-17, 19-18
bus_df['2017년 대비 2018년 증감률']=round(((bus_df['2018년'] - bus_df['2017년']) / bus_df['2018년'])*100,2)
bus_df['2018년 대비 2019년 증감률']=round(((bus_df['2019년'] - bus_df['2018년']) / bus_df['2019년'])*100,2)
bus_df

     자치구  2017년  2018년  2019년  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0    종로구    381    381    374                 0.0               -1.87
1   서대문구    207    207    447                 0.0               53.69
2     중구    439    439    211                 0.0             -108.06
3    광진구    534    534    292                 0.0              -82.88
4    성동구    349    349    442                 0.0               21.04
5    용산구    286    286    344                 0.0               16.86
6   동대문구    318    318    319                 0.0                0.31
7    중랑구    379    379    380                 0.0                0.26
8    성북구    610    610    603                 0.0               -1.16
9    노원구    537    537    544                 0.0                1.29
10   강북구    460    460    448                 0.0               -2.68
11   도봉구    386    386    391                 0.0                1.28
12   관악구    494    494    485                 0.0               -1.86
13   은평구    445    445    506                 0.0               12.06
14   마포구    568    568    567                 0.0               -0.18
15   양천구    363    363    365                 0.0                0.55
16   구로구    478    478    513                 0.0                6.82
17   강서구    576    576    603                 0.0                4.48
18   강남구    342    342    548                 0.0               37.59
19   금천구    492    492    362                 0.0              -35.91
20  영등포구    459    459    505                 0.0                9.11
21   동작구    648    648    446                 0.0              -45.29
22   서초구    485    485    649                 0.0               25.27
23   송파구    413    413    429                 0.0                3.73
24   강동구    349    349    385                 0.0                9.35

In [13]:
bus_df['데이터'] = '버스정류장'
bus_df = bus_df[['데이터', '자치구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
bus_df

      데이터   자치구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   버스정류장   종로구                 0.0               -1.87
1   버스정류장  서대문구                 0.0               53.69
2   버스정류장    중구                 0.0             -108.06
3   버스정류장   광진구                 0.0              -82.88
4   버스정류장   성동구                 0.0               21.04
5   버스정류장   용산구                 0.0               16.86
6   버스정류장  동대문구                 0.0                0.31
7   버스정류장   중랑구                 0.0                0.26
8   버스정류장   성북구                 0.0               -1.16
9   버스정류장   노원구                 0.0                1.29
10  버스정류장   강북구                 0.0               -2.68
11  버스정류장   도봉구                 0.0                1.28
12  버스정류장   관악구                 0.0               -1.86
13  버스정류장   은평구                 0.0               12.06
14  버스정류장   마포구                 0.0               -0.18
15  버스정류장   양천구                 0.0                0.55
16  버스정류장   구로구                 0.0                6.82
17  버스정류장   강서구                 0.0                4.48
18  버스정류장   강남구                 0.0               37.59
19  버스정류장   금천구                 0.0              -35.91
20  버스정류장  영등포구                 0.0                9.11
21  버스정류장   동작구                 0.0              -45.29
22  버스정류장   서초구                 0.0               25.27
23  버스정류장   송파구                 0.0                3.73
24  버스정류장   강동구                 0.0                9.35

In [14]:
bus_df.to_csv('data/증감률/FIN/버스정류장 증감률(2017~2019, cp949).csv', encoding='cp949', index=False)

### 2. 지하철

In [15]:
# 파일 불러오기
file = pd.read_excel('data/증감률/지하철.xlsx', index_col=[0, 1])
file

            호선         역명                     주소        X좌표         Y좌표
2017 0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309  37.481596  126.882559
     1       1         개봉    서울특별시 구로구 경인로40길 47  37.494522  126.859103
     2       1        광운대     서울특별시 노원구 석계로 98-2  37.623034  127.061763
     3       1         구로    서울특별시 구로구 구로중앙로 174  37.502435  126.881492
     4       1         구일      서울특별시 구로구 구일로 133  37.496391  126.869920
...        ...        ...                    ...        ...         ...
2019 367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122  37.602688  127.013496
     368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102  37.592718  127.016478
     369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116  37.585328  127.019387
     370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1  37.575319  127.024702
     371     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117   0.000000    0.000000

[1115 rows x 5 columns]

In [16]:
file.reset_index(inplace=True)
file.drop('level_1', axis=1, inplace=True)
file.rename({'level_0':'년'}, axis=1, inplace=True)
file

         년    호선         역명                     주소        X좌표         Y좌표
0     2017     1    가산디지털단지      서울특별시 금천구 벚꽃로 309  37.481596  126.882559
1     2017     1         개봉    서울특별시 구로구 경인로40길 47  37.494522  126.859103
2     2017     1        광운대     서울특별시 노원구 석계로 98-2  37.623034  127.061763
3     2017     1         구로    서울특별시 구로구 구로중앙로 174  37.502435  126.881492
4     2017     1         구일      서울특별시 구로구 구일로 133  37.496391  126.869920
...    ...   ...        ...                    ...        ...         ...
1110  2019  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122  37.602688  127.013496
1111  2019  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102  37.592718  127.016478
1112  2019  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116  37.585328  127.019387
1113  2019  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1  37.575319  127.024702
1114  2019     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117   0.000000    0.000000

[1115 rows x 6 columns]

In [17]:
file['구'] = file['주소'].str.split(' ').str[1]
file

,년,호선,역명,주소,X좌표,Y좌표,구
0,2017,1,가산디지털단지,서울특별시 금천구 벚꽃로 309,37.481596,126.882559,금천구
1,2017,1,개봉,서울특별시 구로구 경인로40길 47,37.494522,126.859103,구로구
2,2017,1,광운대,서울특별시 노원구 석계로 98-2,37.623034,127.061763,노원구
3,2017,1,구로,서울특별시 구로구 구로중앙로 174,37.502435,126.881492,구로구
4,2017,1,구일,서울특별시 구로구 구일로 133,37.496391,126.869920,구로구
...,...,...,...,...,...,...,...
1110,2019,우이신설,정릉,서울특별시 성북구 아리랑로 지하 122,37.602688,127.013496,성북구
1111,2019,우이신설,성신여대입구,서울특별시 성북구 동소문로 지하 102,37.592718,127.016478,성북구
1112,2019,우이신설,보문(우이신설),서울특별시 성북구 보문로 지하 116,37.585328,127.019387,성북구
1113,2019,우이신설,신설동(우이신설),서울특별시 동대문구 왕산로 지하 1,37.575319,127.024702,동대문구
1114,2019,9,중앙보훈병원,서울특별시 강동구 동남로 지하 117,0.000000,0.000000,강동구

In [18]:
# 데이터 분리
data_2017 = file[file['년']==2017].reset_index(drop=True)
data_2018 = file[file['년']==2018].reset_index(drop=True)
data_2019 = file[file['년']==2019].reset_index(drop=True)

In [21]:
gu = file['구'].unique()
line = file['호선'].unique()

line_df = pd.DataFrame(line, columns=['호선'])
gu_df = pd.DataFrame(gu, columns=['구'])

In [22]:
line_df["key"] = 1
gu_df["key"] = 1

idx = pd.merge(line_df, gu_df, on ='key').drop("key", 1)

In [23]:
line_2017=[]

for i in range(len(line)) :
    df = data_2017[data_2017['호선'] == line[i]]
    for j in range(len(gu)) :
        line_2017.append(len(df[(df['구']==gu[j])]))

len(line_2017)

400

In [24]:
line_2018=[]
gu = idx['구'].unique()
line = idx['호선'].unique()

for i in range(len(line)) :
    df = data_2018[data_2018['호선'] == line[i]]
    for j in range(len(gu)) :
        line_2018.append(len(df[(df['구']==gu[j])]))

line_2018

[3,
 6,
 4,
 2,
 1,
 3,
 4,
 5,
 2,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 2,
 3,
 0,
 0,
 6,
 2,
 7,
 3,
 4,
 4,
 3,
 4,
 5,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 4,
 0,
 2,
 0,
 3,
 9,
 5,
 0,
 0,
 3,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 5,
 3,
 0,
 2,
 2,
 4,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 3,
 3,
 1,
 5,
 3,
 6,
 0,
 0,
 0,
 3,
 1,
 3,
 9,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 3,
 5,
 0,
 0,
 0,
 2,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 9,
 0,
 6,
 0,
 1,
 1,
 3,
 7,
 0,
 7,
 2,
 1,
 0,
 0,
 0,
 0,
 5,
 0,
 4,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 4,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 4,
 0,
 0,
 0,
 1,
 10,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 10,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 2,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 4,
 0,
 0]

In [25]:
line_2019=[]
gu = idx['구'].unique()
line = idx['호선'].unique()

for i in range(len(line)) :
    df = data_2019[data_2019['호선'] == line[i]]
    for j in range(len(gu)) :
        line_2019.append(len(df[(df['구']==gu[j])]))

line_2019

[3,
 6,
 4,
 2,
 1,
 3,
 4,
 5,
 2,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 2,
 3,
 0,
 0,
 6,
 2,
 7,
 3,
 4,
 4,
 3,
 4,
 5,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 4,
 0,
 2,
 0,
 3,
 9,
 5,
 0,
 0,
 3,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 5,
 3,
 0,
 2,
 2,
 4,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 3,
 3,
 1,
 5,
 3,
 6,
 0,
 0,
 0,
 3,
 1,
 3,
 9,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 3,
 5,
 0,
 0,
 0,
 2,
 4,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 9,
 0,
 6,
 0,
 1,
 1,
 3,
 7,
 0,
 7,
 2,
 1,
 0,
 0,
 0,
 0,
 5,
 0,
 4,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 4,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 4,
 0,
 0,
 0,
 1,
 10,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 10,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 2,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 4,
 0,
 0]

In [26]:
subway_df = pd.DataFrame([ x for x in zip(line_2017, line_2018, line_2019)]).reset_index(drop=True)

subway_df.rename({0:'2017년',
                1:'2018년',
                 2:'2019년'}, axis=1, inplace=True)
subway_df

     2017년  2018년  2019년
0        3      3      3
1        6      6      6
2        4      4      4
3        2      2      2
4        1      1      1
..     ...    ...    ...
395      0      0      0
396      8      8      8
397      4      4      4
398      0      0      0
399      0      0      0

[400 rows x 3 columns]

In [29]:
# 18-17, 19-18
subway_df['2017년 대비 2018년 증감률']=round(((subway_df['2018년'] - subway_df['2017년']) / subway_df['2018년'])*100,2)
subway_df['2018년 대비 2019년 증감률']=round(((subway_df['2019년'] - subway_df['2018년']) / subway_df['2019년'])*100,2)
subway_df.fillna(0.0, inplace=True)
subway_df

     2017년  2018년  2019년  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0        3      3      3                 0.0                 0.0
1        6      6      6                 0.0                 0.0
2        4      4      4                 0.0                 0.0
3        2      2      2                 0.0                 0.0
4        1      1      1                 0.0                 0.0
..     ...    ...    ...                 ...                 ...
395      0      0      0                 0.0                 0.0
396      8      8      8                 0.0                 0.0
397      4      4      4                 0.0                 0.0
398      0      0      0                 0.0                 0.0
399      0      0      0                 0.0                 0.0

[400 rows x 5 columns]

In [30]:
subway = pd.concat([idx, subway_df], axis=1)
subway['데이터'] = '지하철역'
subway = subway[['데이터', '호선', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
subway

      데이터    호선    구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0    지하철역     1  금천구                 0.0                 0.0
1    지하철역     1  구로구                 0.0                 0.0
2    지하철역     1  노원구                 0.0                 0.0
3    지하철역     1  용산구                 0.0                 0.0
4    지하철역     1  동작구                 0.0                 0.0
..    ...   ...  ...                 ...                 ...
395  지하철역  우이신설  은평구                 0.0                 0.0
396  지하철역  우이신설  강북구                 0.0                 0.0
397  지하철역  우이신설  성북구                 0.0                 0.0
398  지하철역  우이신설  강동구                 0.0                 0.0
399  지하철역  우이신설  중랑구                 0.0                 0.0

[400 rows x 5 columns]

In [31]:
subway.to_csv('data/증감률/FIN/지하철역 증감률(2017~2019, cp949).csv', encoding='cp949', index=False)

### 3. 범죄

In [31]:
# 파일 불러오기
file = pd.read_csv('data/증감률/관서별 5대범죄 검거 현황 2015-2019(전처리완료, cp949).csv', encoding='cp949')
file

        년  관서               주소    구  죄종 발생검거    건수
0    2015  중부    서울시 중구 수표로 27   중구  살인   검거     2
1    2015  중부    서울시 중구 수표로 27   중구  강도   검거     2
2    2015  중부    서울시 중구 수표로 27   중구  강간   검거    65
3    2015  중부    서울시 중구 수표로 27   중구  절도   검거   477
4    2015  중부    서울시 중구 수표로 27   중구  폭력   검거  1170
..    ...  ..              ...  ...  ..  ...   ...
770  2019  수서  서울시 강남구 개포로 617  강남구  살인   검거     1
771  2019  수서  서울시 강남구 개포로 617  강남구  강도   검거     3
772  2019  수서  서울시 강남구 개포로 617  강남구  강간   검거   151
773  2019  수서  서울시 강남구 개포로 617  강남구  절도   검거   461
774  2019  수서  서울시 강남구 개포로 617  강남구  폭력   검거  1276

[775 rows x 7 columns]

In [32]:
data = file[file['년']>=2017].reset_index(drop=True)
data

        년  관서               주소    구  죄종 발생검거    건수
0    2017  중부    서울시 중구 수표로 27   중구  살인   검거     0
1    2017  중부    서울시 중구 수표로 27   중구  강도   검거     6
2    2017  중부    서울시 중구 수표로 27   중구  강간   검거    87
3    2017  중부    서울시 중구 수표로 27   중구  절도   검거   489
4    2017  중부    서울시 중구 수표로 27   중구  폭력   검거  1024
..    ...  ..              ...  ...  ..  ...   ...
460  2019  수서  서울시 강남구 개포로 617  강남구  살인   검거     1
461  2019  수서  서울시 강남구 개포로 617  강남구  강도   검거     3
462  2019  수서  서울시 강남구 개포로 617  강남구  강간   검거   151
463  2019  수서  서울시 강남구 개포로 617  강남구  절도   검거   461
464  2019  수서  서울시 강남구 개포로 617  강남구  폭력   검거  1276

[465 rows x 7 columns]

In [33]:
for i in range(len(data)) :
    if data['관서'][i] == '강서' :
        data['구'][i] = '강서구'
    else :
        data['구'][i] = data['구'][i]
        
data[data['구'] == '강서구']

        년  관서              주소    구  죄종 발생검거    건수
95   2017  강서  서울시 양천구 화곡로 73  강서구  살인   검거    11
96   2017  강서  서울시 양천구 화곡로 73  강서구  강도   검거     6
97   2017  강서  서울시 양천구 화곡로 73  강서구  강간   검거   253
98   2017  강서  서울시 양천구 화곡로 73  강서구  절도   검거  1113
99   2017  강서  서울시 양천구 화곡로 73  강서구  폭력   검거  2544
250  2018  강서  서울시 양천구 화곡로 73  강서구  살인   검거     9
251  2018  강서  서울시 양천구 화곡로 73  강서구  강도   검거     3
252  2018  강서  서울시 양천구 화곡로 73  강서구  강간   검거   246
253  2018  강서  서울시 양천구 화곡로 73  강서구  절도   검거   982
254  2018  강서  서울시 양천구 화곡로 73  강서구  폭력   검거  2229
405  2019  강서  서울시 양천구 화곡로 73  강서구  살인   검거     9
406  2019  강서  서울시 양천구 화곡로 73  강서구  강도   검거     4
407  2019  강서  서울시 양천구 화곡로 73  강서구  강간   검거   257
408  2019  강서  서울시 양천구 화곡로 73  강서구  절도   검거  1077
409  2019  강서  서울시 양천구 화곡로 73  강서구  폭력   검거  2192

In [52]:
new_data = data['건수'].groupby([data['년'], data['구'], data['죄종']]).sum().reset_index()
new_data

        년    구  죄종    건수
0    2017  강남구  강간   496
1    2017  강남구  강도    24
2    2017  강남구  살인     7
3    2017  강남구  절도  1383
4    2017  강남구  폭력  3411
..    ...  ...  ..   ...
370  2019  중랑구  강간   108
371  2019  중랑구  강도     5
372  2019  중랑구  살인    10
373  2019  중랑구  절도   908
374  2019  중랑구  폭력  2104

[375 rows x 4 columns]

In [53]:
# 데이터 분리
data_2017 = new_data[new_data['년']==2017].reset_index(drop=True)
data_2018 = new_data[new_data['년']==2018].reset_index(drop=True)
data_2019 = new_data[new_data['년']==2019].reset_index(drop=True)
data_2017

        년    구  죄종    건수
0    2017  강남구  강간   496
1    2017  강남구  강도    24
2    2017  강남구  살인     7
3    2017  강남구  절도  1383
4    2017  강남구  폭력  3411
..    ...  ...  ..   ...
120  2017  중랑구  강간   144
121  2017  중랑구  강도     4
122  2017  중랑구  살인     5
123  2017  중랑구  절도   813
124  2017  중랑구  폭력  2426

[125 rows x 4 columns]

In [54]:
gu = new_data['구'].unique()
crime = new_data['죄종'].unique()

crime_df = pd.DataFrame(crime, columns=['죄종'])
gu_df = pd.DataFrame(gu, columns=['구'])

In [55]:
crime_df["key"] = 1
gu_df["key"] = 1

idx = pd.merge(crime_df, gu_df, on ='key').drop("key", 1)
idx

     죄종    구
0    강간  강남구
1    강간  강동구
2    강간  강북구
3    강간  강서구
4    강간  관악구
..   ..  ...
120  폭력  용산구
121  폭력  은평구
122  폭력  종로구
123  폭력   중구
124  폭력  중랑구

[125 rows x 2 columns]

In [79]:
crime_2017=[]

for i in range(len(crime)) :
    df = data_2017[data_2017['죄종'] == crime[i]].reset_index(drop=True)
    for j in range(len(gu)) :
        crime_2017.append(df[df['구']==gu[j]]['건수'][j])

crime_2017

[496,
 169,
 153,
 253,
 323,
 208,
 181,
 212,
 155,
 115,
 149,
 173,
 429,
 181,
 283,
 106,
 134,
 242,
 122,
 267,
 289,
 213,
 173,
 149,
 144,
 24,
 12,
 5,
 6,
 6,
 8,
 6,
 5,
 7,
 3,
 5,
 9,
 8,
 2,
 7,
 3,
 8,
 3,
 2,
 5,
 4,
 4,
 8,
 9,
 4,
 7,
 6,
 8,
 11,
 7,
 5,
 8,
 5,
 4,
 1,
 10,
 1,
 3,
 4,
 10,
 1,
 7,
 6,
 2,
 13,
 1,
 6,
 5,
 0,
 5,
 1383,
 949,
 635,
 1113,
 1152,
 1168,
 869,
 674,
 757,
 417,
 1017,
 593,
 837,
 719,
 835,
 543,
 703,
 1026,
 756,
 1108,
 626,
 934,
 658,
 889,
 813,
 3411,
 2109,
 2023,
 2544,
 2666,
 1900,
 2344,
 1676,
 2124,
 1116,
 2093,
 1466,
 2222,
 1393,
 2102,
 1378,
 1627,
 2593,
 1778,
 2619,
 2016,
 2050,
 1837,
 1804,
 2426]

In [82]:
crime_2018=[]

for i in range(len(crime)) :
    df = data_2018[data_2018['죄종'] == crime[i]].reset_index(drop=True)
    for j in range(len(gu)) :
        crime_2018.append(df[df['구']==gu[j]]['건수'][j])

len(crime_2018)

125

In [83]:
crime_2019=[]

for i in range(len(crime)) :
    df = data_2019[data_2019['죄종'] == crime[i]].reset_index(drop=True)
    for j in range(len(gu)) :
        crime_2019.append(df[df['구']==gu[j]]['건수'][j])

len(crime_2019)

125

In [84]:
crime_df = pd.DataFrame([ x for x in zip(crime_2017, crime_2018, crime_2019)]).reset_index(drop=True)

crime_df.rename({0:'2017년',
                1:'2018년',
                 2:'2019년'}, axis=1, inplace=True)
crime_df

     2017년  2018년  2019년
0      496    523    562
1      169    143    155
2      153    135    145
3      253    246    257
4      323    305    335
..     ...    ...    ...
120   2016   1733   1821
121   2050   1869   1856
122   1837   1705   1790
123   1804   1719   1632
124   2426   2193   2104

[125 rows x 3 columns]

In [89]:
# 18-17, 19-18
crime_df['2017년 대비 2018년 증감률']=round(((crime_df['2018년'] - crime_df['2017년']) / crime_df['2018년'])*100,2)
crime_df['2018년 대비 2019년 증감률']=round(((crime_df['2019년'] - crime_df['2018년']) / crime_df['2019년'])*100,2)
crime_df

     2017년  2018년  2019년  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0      496    523    562                5.16                6.94
1      169    143    155              -18.18                7.74
2      153    135    145              -13.33                6.90
3      253    246    257               -2.85                4.28
4      323    305    335               -5.90                8.96
..     ...    ...    ...                 ...                 ...
120   2016   1733   1821              -16.33                4.83
121   2050   1869   1856               -9.68               -0.70
122   1837   1705   1790               -7.74                4.75
123   1804   1719   1632               -4.94               -5.33
124   2426   2193   2104              -10.62               -4.23

[125 rows x 5 columns]

In [90]:
crime = pd.concat([idx, crime_df], axis=1)
crime['데이터'] = '범죄'
crime = crime[['데이터', '죄종', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
crime

    데이터  죄종    구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0    범죄  강간  강남구                5.16                6.94
1    범죄  강간  강동구              -18.18                7.74
2    범죄  강간  강북구              -13.33                6.90
3    범죄  강간  강서구               -2.85                4.28
4    범죄  강간  관악구               -5.90                8.96
..   ..  ..  ...                 ...                 ...
120  범죄  폭력  용산구              -16.33                4.83
121  범죄  폭력  은평구               -9.68               -0.70
122  범죄  폭력  종로구               -7.74                4.75
123  범죄  폭력   중구               -4.94               -5.33
124  범죄  폭력  중랑구              -10.62               -4.23

[125 rows x 5 columns]

In [91]:
crime.to_csv('data/증감률/FIN/5대 범죄 증감률(2017~2019, cp949).csv', encoding='cp949', index=False)

### 4. 영화관

In [306]:
# 파일 불러오기
file = pd.read_csv('data/증감률/서울특별시 영화상영관 인허가 정보 2017-2019(전처리 완료, cp949).csv', encoding='cp949')
file

,년,상세영업상태명,폐업일자,사업장명,공연장형태구분명,설립일자,지번주소,도로명주소,위도,경도
0,2017,영업중,0,롯데시네마 황학,영화관,0,서울특별시 중구 황학동 2545,서울특별시 중구 청계천로 400,37.570809,127.021463
1,2017,영업중,0,구로문화원,영화관,0,서울특별시 구로구 구로동 102,서울특별시 구로구 가마산로25길 21,37.497201,126.889858
2,2017,영업중,0,메가박스 코엑스,영화관,0,서울특별시 강남구 삼성동 159,서울특별시 강남구 봉은사로 524,37.512944,127.057114
3,2017,영업중,0,KT&G 상상마당 시네마,영화관,0,서울특별시 마포구 서교동 367-5,서울특별시 마포구 어울마당로 65,37.550958,126.921063
4,2017,영업중,0,메가박스 상암월드컵경기장,영화관,0,서울특별시 마포구 성산동 515-1,서울특별시 마포구 월드컵로 240,37.569943,126.899034
...,...,...,...,...,...,...,...,...,...,...
322,2019,영업중,0,CGV 동대문,영화관,20171219,서울특별시 중구 을지로6가 17-2,서울특별시 중구 을지로6가 장충단로13길 20,37.568736,127.007667
323,2019,영업중,0,CGV 건대입구,영화관,20180126,서울특별시 광진구 자양동 9-4,서울특별시 광진구 아차산로30길 26,37.539761,127.066888
324,2019,영업중,0,CGV 등촌,영화관,20190125,서울특별시 강서구 등촌동 639-23,서울특별시 강서구 공항대로45길 63,37.557869,126.856001
325,2019,영업중,0,메가박스 홍대,영화관,20190923,서울특별시 마포구 동교동 160-4,서울특별시 마포구 양화로 147,37.556048,126.922054
326,2019,영업중,0,메가박스 성수,영화관,20191106,서울특별시 성동구 성수동1가 656-335,서울특별시 성동구 성수동1가 왕십리로 50,37.541888,127.044911

In [310]:
file['구'] = file['지번주소'].str.split(' ').str[1]
file

,년,상세영업상태명,폐업일자,사업장명,공연장형태구분명,설립일자,지번주소,도로명주소,위도,경도,구
0,2017,영업중,0,롯데시네마 황학,영화관,0,서울특별시 중구 황학동 2545,서울특별시 중구 청계천로 400,37.570809,127.021463,중구
1,2017,영업중,0,구로문화원,영화관,0,서울특별시 구로구 구로동 102,서울특별시 구로구 가마산로25길 21,37.497201,126.889858,구로구
2,2017,영업중,0,메가박스 코엑스,영화관,0,서울특별시 강남구 삼성동 159,서울특별시 강남구 봉은사로 524,37.512944,127.057114,강남구
3,2017,영업중,0,KT&G 상상마당 시네마,영화관,0,서울특별시 마포구 서교동 367-5,서울특별시 마포구 어울마당로 65,37.550958,126.921063,마포구
4,2017,영업중,0,메가박스 상암월드컵경기장,영화관,0,서울특별시 마포구 성산동 515-1,서울특별시 마포구 월드컵로 240,37.569943,126.899034,마포구
...,...,...,...,...,...,...,...,...,...,...,...
322,2019,영업중,0,CGV 동대문,영화관,20171219,서울특별시 중구 을지로6가 17-2,서울특별시 중구 을지로6가 장충단로13길 20,37.568736,127.007667,중구
323,2019,영업중,0,CGV 건대입구,영화관,20180126,서울특별시 광진구 자양동 9-4,서울특별시 광진구 아차산로30길 26,37.539761,127.066888,광진구
324,2019,영업중,0,CGV 등촌,영화관,20190125,서울특별시 강서구 등촌동 639-23,서울특별시 강서구 공항대로45길 63,37.557869,126.856001,강서구
325,2019,영업중,0,메가박스 홍대,영화관,20190923,서울특별시 마포구 동교동 160-4,서울특별시 마포구 양화로 147,37.556048,126.922054,마포구
326,2019,영업중,0,메가박스 성수,영화관,20191106,서울특별시 성동구 성수동1가 656-335,서울특별시 성동구 성수동1가 왕십리로 50,37.541888,127.044911,성동구

In [319]:
data = file['사업장명'].groupby([file['년'], file['구']]).count().reset_index()
data

       년    구  사업장명
0   2017  강남구    16
1   2017  강동구     3
2   2017  강북구     3
3   2017  강서구     5
4   2017  관악구     2
..   ...  ...   ...
70  2019  용산구     3
71  2019  은평구     4
72  2019  종로구     8
73  2019   중구    13
74  2019  중랑구     2

[75 rows x 3 columns]

In [330]:
data_2017 = data[data['년']==2017].reset_index(drop=True)
data_2018 = data[data['년']==2018].reset_index(drop=True)
data_2019 = data[data['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['사업장명'][i] - data_2017['사업장명'][i])/data_2018['사업장명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['사업장명'][i] - data_2018['사업장명'][i])/data_2019['사업장명'][i])*100, 2))

In [332]:
theater_df = pd.DataFrame(data_2017['구'])
theater_df['데이터'] = '영화관'
theater_df['2017년 대비 2018년 증감률'] = cnt_2017
theater_df['2018년 대비 2019년 증감률'] = cnt_2018
theater_df = theater_df[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
theater_df

    데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   영화관   강남구               -6.67                0.00
1   영화관   강동구                0.00                0.00
2   영화관   강북구                0.00                0.00
3   영화관   강서구                0.00                0.00
4   영화관   관악구                0.00                0.00
5   영화관   광진구               20.00                0.00
6   영화관   구로구                0.00                0.00
7   영화관   금천구                0.00                0.00
8   영화관   노원구                0.00                0.00
9   영화관   도봉구                0.00                0.00
10  영화관  동대문구                0.00                0.00
11  영화관   동작구                0.00                0.00
12  영화관   마포구              -16.67                0.00
13  영화관  서대문구                0.00                0.00
14  영화관   서초구                0.00                0.00
15  영화관   성동구                0.00               50.00
16  영화관   성북구                0.00              -33.33
17  영화관   송파구                0.00                0.00
18  영화관   양천구                0.00                0.00
19  영화관  영등포구                0.00                0.00
20  영화관   용산구              -33.33                0.00
21  영화관   은평구                0.00                0.00
22  영화관   종로구              -12.50                0.00
23  영화관    중구               -7.14               -7.69
24  영화관   중랑구                0.00                0.00

In [341]:
theater_df.to_csv('data/증감률/FIN/2017~2019 구별 영화관 증감률(cp949).csv', encoding='cp949', index=False)

### 5. 병원

In [335]:
# 파일 불러오기
file = pd.read_csv('data/증감률/서울특별시 병원 인허가 정보 2017-2019(전처리 완료, cp949).csv', encoding='cp949')
file

,년,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,인허가일자,사업장명,지번주소,도로명주소,위도,경도
0,2017,영업중,0,0,0,19601124,서울특별시서북병원,서울특별시 은평구 역촌동 산 31-1,서울특별시 은평구 갈현로7길 49-1,37.604297,126.903688
1,2017,영업중,0,0,0,19610515,가톨릭대학교 은평성모병원,서울특별시 은평구 진관동 55,서울특별시 은평구 진관3로 15-35,37.642175,126.918375
2,2017,영업중,0,0,0,19620201,국립정신건강센터,서울특별시 광진구 중곡동 30-1,서울특별시 광진구 용마산로 127,37.565004,127.085767
3,2017,영업중,0,0,0,19660107,삼육서울병원,서울특별시 동대문구 휘경동 283-1,서울특별시 동대문구 망우로 82,37.589726,127.062542
4,2017,영업중,0,0,0,19660107,청량리정신병원,서울특별시 동대문구 청량리동 46-3,서울특별시 동대문구 제기로 144,37.586070,127.049088
...,...,...,...,...,...,...,...,...,...,...,...
1579,2019,영업중,0,0,0,20191030,엘치과병원,서울특별시 동대문구 답십리동 94-1,서울특별시 동대문구 전농로 110,37.574573,127.057846
1580,2019,영업중,0,0,0,20191031,미림한방병원,서울특별시 강남구 논현동 2,서울특별시 강남구 도산대로 110,37.516176,127.021058
1581,2019,영업중,0,0,0,20191213,서울스마트요양병원,서울특별시 양천구 신정동 1268,서울특별시 양천구 중앙로 181,37.512742,126.855774
1582,2019,영업중,0,0,0,20191213,연세바로척병원,서울특별시 성동구 성수동2가 279,서울특별시 성동구 성수동2가 아차산로13길 38,37.546292,127.062173
1583,2019,영업중,0,0,0,20191226,치유본한방병원,서울특별시 관악구 신림동 1638-1,서울특별시 관악구 신원로 35,37.482227,126.928894

In [336]:
file['구'] = file['지번주소'].str.split(' ').str[1]
file

,년,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,인허가일자,사업장명,지번주소,도로명주소,위도,경도,구
0,2017,영업중,0,0,0,19601124,서울특별시서북병원,서울특별시 은평구 역촌동 산 31-1,서울특별시 은평구 갈현로7길 49-1,37.604297,126.903688,은평구
1,2017,영업중,0,0,0,19610515,가톨릭대학교 은평성모병원,서울특별시 은평구 진관동 55,서울특별시 은평구 진관3로 15-35,37.642175,126.918375,은평구
2,2017,영업중,0,0,0,19620201,국립정신건강센터,서울특별시 광진구 중곡동 30-1,서울특별시 광진구 용마산로 127,37.565004,127.085767,광진구
3,2017,영업중,0,0,0,19660107,삼육서울병원,서울특별시 동대문구 휘경동 283-1,서울특별시 동대문구 망우로 82,37.589726,127.062542,동대문구
4,2017,영업중,0,0,0,19660107,청량리정신병원,서울특별시 동대문구 청량리동 46-3,서울특별시 동대문구 제기로 144,37.586070,127.049088,동대문구
...,...,...,...,...,...,...,...,...,...,...,...,...
1579,2019,영업중,0,0,0,20191030,엘치과병원,서울특별시 동대문구 답십리동 94-1,서울특별시 동대문구 전농로 110,37.574573,127.057846,동대문구
1580,2019,영업중,0,0,0,20191031,미림한방병원,서울특별시 강남구 논현동 2,서울특별시 강남구 도산대로 110,37.516176,127.021058,강남구
1581,2019,영업중,0,0,0,20191213,서울스마트요양병원,서울특별시 양천구 신정동 1268,서울특별시 양천구 중앙로 181,37.512742,126.855774,양천구
1582,2019,영업중,0,0,0,20191213,연세바로척병원,서울특별시 성동구 성수동2가 279,서울특별시 성동구 성수동2가 아차산로13길 38,37.546292,127.062173,성동구
1583,2019,영업중,0,0,0,20191226,치유본한방병원,서울특별시 관악구 신림동 1638-1,서울특별시 관악구 신원로 35,37.482227,126.928894,관악구

In [337]:
data = file['사업장명'].groupby([file['년'], file['구']]).count().reset_index()
data

       년    구  사업장명
0   2017  강남구    67
1   2017  강동구    34
2   2017  강북구    15
3   2017  강서구    31
4   2017  관악구    14
..   ...  ...   ...
70  2019  용산구     3
71  2019  은평구    22
72  2019  종로구     8
73  2019   중구    13
74  2019  중랑구    18

[75 rows x 3 columns]

In [338]:
data_2017 = data[data['년']==2017].reset_index(drop=True)
data_2018 = data[data['년']==2018].reset_index(drop=True)
data_2019 = data[data['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['사업장명'][i] - data_2017['사업장명'][i])/data_2018['사업장명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['사업장명'][i] - data_2018['사업장명'][i])/data_2019['사업장명'][i])*100, 2))

In [339]:
hospital_df = pd.DataFrame(data_2017['구'])
hospital_df['데이터'] = '병원'
hospital_df['2017년 대비 2018년 증감률'] = cnt_2017
hospital_df['2018년 대비 2019년 증감률'] = cnt_2018
hospital_df = hospital_df[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
hospital_df

   데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   병원   강남구                8.22                1.35
1   병원   강동구                2.86               -6.06
2   병원   강북구                6.25                0.00
3   병원   강서구                3.12                0.00
4   병원   관악구                6.67               11.76
5   병원   광진구                0.00                8.33
6   병원   구로구                9.52               12.50
7   병원   금천구                0.00               14.29
8   병원   노원구               -4.55                0.00
9   병원   도봉구                0.00                0.00
10  병원  동대문구               -3.12                0.00
11  병원   동작구                7.69                0.00
12  병원   마포구                0.00               11.11
13  병원  서대문구                0.00                0.00
14  병원   서초구                0.00                0.00
15  병원   성동구                0.00                0.00
16  병원   성북구               12.50                0.00
17  병원   송파구                0.00                8.33
18  병원   양천구               10.53                5.00
19  병원  영등포구               -3.12               -3.23
20  병원   용산구                0.00                0.00
21  병원   은평구              -13.04               -4.55
22  병원   종로구               11.11              -12.50
23  병원    중구               -7.69                0.00
24  병원   중랑구              -11.11                0.00

In [342]:
hospital_df.to_csv('data/증감률/FIN/2017~2019 구별 병원 증감률(cp949).csv', encoding='cp949', index=False)

### 6. 학교
#### 1) 어린이집, 유치원

In [369]:
# 파일 불러오기
file = pd.read_csv('data/증감률/어린이집_유치원 2017-2019(전처리완료, cp949).csv', encoding='cp949')
file

,년,인허가일자,상세영업상태명,폐업일자,업태구분명,사업장명,주소,경도,위도
0,2017,19950120,영업,0,어린이집,개미어린이집,서울특별시 금천구 독산동 993-30번지 개미어린이집,126.905875,37.473026
1,2017,19950121,영업,0,어린이집,정심어린이집,서울특별시 금천구 독산동 938-5번지,126.907258,37.467753
2,2017,19950122,영업,0,어린이집,독산1동어린이집,서울특별시 금천구 독산동 999-11번지 독산1동어린이집,126.890859,37.468222
3,2017,19950123,영업,0,어린이집,새길어린이집,서울특별시 금천구 시흥동 산 13-8번지,126.907530,37.440138
4,2017,19950124,영업,0,어린이집,가산어린이집,서울특별시 금천구 가산동 602-71번지 가산어린이집상록경록당,126.884379,37.482694
...,...,...,...,...,...,...,...,...,...
9265,2019,20200915,영업,0,어린이집,지니어스어린이집,서울특별시 강서구 등촌동 637 서울시니어스가양타워(지상 1층),126.859228,37.556925
9266,2019,20200918,영업,0,어린이집,아트어린이집,서울특별시 성북구 상월곡동 62,127.044827,37.606058
9267,2019,20200921,영업,0,어린이집,구립 송파파크센트럴 어린이집,서울특별시 송파구 거여동 234 e편한세상 송파 파크센트럴,127.150589,37.493167
9268,2019,20200924,영업,0,어린이집,당산2동 은솔어린이집,서울특별시 영등포구 당산동5가 4-13,126.903069,37.530103
9269,2019,20200925,영업,0,어린이집,새솔아델포레어린이집,서울특별시 영등포구 대림동 917-49 e편한세상 영등포 아델포레,126.906905,37.494363

In [370]:
file['구'] = file['주소'].str.split(' ').str[1]
file['구'].unique()

array(['금천구', '성동구', '강서구', '강동구', '중구', '은평구', '송파구', '구로구', '서초구',
       '양천구', '용산구', '중랑구', '강남구', '도봉구', '성북구', '영등포구', '서대문구', '광진구',
       '노원구', '강북구', '관악구', '동작구', '종로구', '마포구', '동대문구'], dtype=object)

In [371]:
pre1 = file[file['업태구분명']=='어린이집']
pre2 = file[file['업태구분명']=='유치원']
print(len(pre1['구'].unique()), len(pre2['구'].unique()))

25 25

In [372]:
data1 = pre1['사업장명'].groupby([pre1['년'], pre1['구']]).count().reset_index()
data2 = pre2['사업장명'].groupby([pre2['년'], pre2['구']]).count().reset_index()
data1

       년    구  사업장명
0   2017  강남구   106
1   2017  강동구   115
2   2017  강북구    69
3   2017  강서구   145
4   2017  관악구    98
..   ...  ...   ...
70  2019  용산구    61
71  2019  은평구   141
72  2019  종로구    71
73  2019   중구    44
74  2019  중랑구    99

[75 rows x 3 columns]

#### 어린이집

In [373]:
data_2017 = data1[data1['년']==2017].reset_index(drop=True)
data_2018 = data1[data1['년']==2018].reset_index(drop=True)
data_2019 = data1[data1['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['사업장명'][i] - data_2017['사업장명'][i])/data_2018['사업장명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['사업장명'][i] - data_2018['사업장명'][i])/data_2019['사업장명'][i])*100, 2))

In [374]:
pre_school_df1 = pd.DataFrame(data_2017['구'])
pre_school_df1['데이터'] = '어린이집'
pre_school_df1['2017년 대비 2018년 증감률'] = cnt_2017
pre_school_df1['2018년 대비 2019년 증감률'] = cnt_2018
pre_school_df1 = pre_school_df1[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
pre_school_df1

     데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   어린이집   강남구               11.67               -0.84
1   어린이집   강동구               13.53               -6.40
2   어린이집   강북구               10.39               -6.94
3   어린이집   강서구                7.05               -3.31
4   어린이집   관악구               12.50               -3.70
5   어린이집   광진구               11.25               -1.27
6   어린이집   구로구               12.41               -3.79
7   어린이집   금천구               10.75               -8.14
8   어린이집   노원구               10.59               -3.66
9   어린이집   도봉구                8.08              -12.50
10  어린이집  동대문구               12.66               -6.76
11  어린이집   동작구                6.45                0.00
12  어린이집   마포구               10.75               -3.33
13  어린이집  서대문구               11.39               -6.76
14  어린이집   서초구               20.00               -4.76
15  어린이집   성동구                5.81               -4.88
16  어린이집   성북구               17.69               -7.44
17  어린이집   송파구               17.56               -1.55
18  어린이집   양천구               20.17              -11.21
19  어린이집  영등포구               23.36               -7.87
20  어린이집   용산구               13.85               -6.56
21  어린이집   은평구               16.13               -9.93
22  어린이집   종로구               29.49               -9.86
23  어린이집    중구               11.36                0.00
24  어린이집   중랑구                7.55               -7.07

#### 유치원

In [375]:
data_2017 = data2[data2['년']==2017].reset_index(drop=True)
data_2018 = data2[data2['년']==2018].reset_index(drop=True)
data_2019 = data2[data2['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['사업장명'][i] - data_2017['사업장명'][i])/data_2018['사업장명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['사업장명'][i] - data_2018['사업장명'][i])/data_2019['사업장명'][i])*100, 2))

In [376]:
pre_school_df2 = pd.DataFrame(data_2017['구'])
pre_school_df2['데이터'] = '유치원'
pre_school_df2['2017년 대비 2018년 증감률'] = cnt_2017
pre_school_df2['2018년 대비 2019년 증감률'] = cnt_2018
pre_school_df2 = pre_school_df2[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
pre_school_df2

    데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   유치원   강남구                3.57               -3.70
1   유치원   강동구                8.00               -4.17
2   유치원   강북구                0.00              -13.33
3   유치원   강서구                4.17               -2.13
4   유치원   관악구               18.18               -6.45
5   유치원   광진구                0.00                0.00
6   유치원   구로구                8.70               -4.55
7   유치원   금천구                0.00               -8.33
8   유치원   노원구               14.75               -8.93
9   유치원   도봉구               14.81               -8.00
10  유치원  동대문구               23.08               -4.00
11  유치원   동작구                0.00                0.00
12  유치원   마포구                5.56              -20.00
13  유치원  서대문구               13.04               -9.52
14  유치원   서초구                4.35                0.00
15  유치원   성동구                0.00                0.00
16  유치원   성북구                5.00                0.00
17  유치원   송파구                2.50                0.00
18  유치원   양천구                2.86               -6.06
19  유치원  영등포구                9.68              -10.71
20  유치원   용산구               15.38               -8.33
21  유치원   은평구               11.11              -20.00
22  유치원   종로구                0.00                0.00
23  유치원    중구                0.00                0.00
24  유치원   중랑구                3.45               -7.41

In [377]:
# 어린이집, 유치원 데이터 병합
pre_school_df = pd.concat([pre_school_df1, pre_school_df2], axis=0)
pre_school_df

     데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   어린이집   강남구               11.67               -0.84
1   어린이집   강동구               13.53               -6.40
2   어린이집   강북구               10.39               -6.94
3   어린이집   강서구                7.05               -3.31
4   어린이집   관악구               12.50               -3.70
5   어린이집   광진구               11.25               -1.27
6   어린이집   구로구               12.41               -3.79
7   어린이집   금천구               10.75               -8.14
8   어린이집   노원구               10.59               -3.66
9   어린이집   도봉구                8.08              -12.50
10  어린이집  동대문구               12.66               -6.76
11  어린이집   동작구                6.45                0.00
12  어린이집   마포구               10.75               -3.33
13  어린이집  서대문구               11.39               -6.76
14  어린이집   서초구               20.00               -4.76
15  어린이집   성동구                5.81               -4.88
16  어린이집   성북구               17.69               -7.44
17  어린이집   송파구               17.56               -1.55
18  어린이집   양천구               20.17              -11.21
19  어린이집  영등포구               23.36               -7.87
20  어린이집   용산구               13.85               -6.56
21  어린이집   은평구               16.13               -9.93
22  어린이집   종로구               29.49               -9.86
23  어린이집    중구               11.36                0.00
24  어린이집   중랑구                7.55               -7.07
0    유치원   강남구                3.57               -3.70
1    유치원   강동구                8.00               -4.17
2    유치원   강북구                0.00              -13.33
3    유치원   강서구                4.17               -2.13
4    유치원   관악구               18.18               -6.45
5    유치원   광진구                0.00                0.00
6    유치원   구로구                8.70               -4.55
7    유치원   금천구                0.00               -8.33
8    유치원   노원구               14.75               -8.93
9    유치원   도봉구               14.81               -8.00
10   유치원  동대문구               23.08               -4.00
11   유치원   동작구                0.00                0.00
12   유치원   마포구                5.56              -20.00
13   유치원  서대문구               13.04               -9.52
14   유치원   서초구                4.35                0.00
15   유치원   성동구                0.00                0.00
16   유치원   성북구                5.00                0.00
17   유치원   송파구                2.50                0.00
18   유치원   양천구                2.86               -6.06
19   유치원  영등포구                9.68              -10.71
20   유치원   용산구               15.38               -8.33
21   유치원   은평구               11.11              -20.00
22   유치원   종로구                0.00                0.00
23   유치원    중구                0.00                0.00
24   유치원   중랑구                3.45               -7.41

In [378]:
pre_school_df.to_csv('data/증감률/FIN/2017~2019 구별 어린이집_유치원 증감률(cp949).csv', encoding='cp949', index=False)

#### 2) 초중고등학교

In [379]:
# 파일 불러오기
file = pd.read_csv('data/증감률/서울특별시 학교 데이터 2017-2019(전처리 완료, cp949).csv', encoding='cp949')
file

,년,설립일자,업태구분명,학교명,소재지지번주소,소재지도로명주소,위도,경도
0,2017,19591010,초등학교,서울휘경초등학교,서울특별시 동대문구 휘경동 302-2,서울특별시 동대문구 망우로6길 48,37.585736,127.058213
1,2017,19840523,초등학교,서울동답초등학교,서울특별시 동대문구 답십리동 2-24,서울특별시 동대문구 답십리로60길 12,37.571503,127.064034
2,2017,19621129,초등학교,서울답십리초등학교,서울특별시 동대문구 답십리동 274,서울특별시 동대문구 전농로3길 23,37.568804,127.055429
3,2017,19720509,초등학교,서울신답초등학교,서울특별시 동대문구 답십리동 463-13,서울특별시 동대문구 천호대로 177,37.572705,127.042962
4,2017,19481101,초등학교,서울용두초등학교,서울특별시 동대문구 용두동 237-1,서울특별시 동대문구 천호대로13길 43,37.576415,127.028387
...,...,...,...,...,...,...,...,...
3903,2019,20170301,고등학교,도선고등학교,서울특별시 성동구 하왕십리동 1070-4,서울특별시 성동구 마장로 156,37.566843,127.026994
3904,2019,19470624,고등학교,환일고등학교,서울특별시 마포구 아현동 393-1,서울특별시 중구 환일길 47,37.553868,126.962210
3905,2019,19440908,고등학교,계성고등학교,서울특별시 성북구 길음동 1284-15,서울특별시 성북구 길음로 63,37.607493,127.020181
3906,2019,19800926,고등학교,대일관광고등학교,서울특별시 양천구 신정동 1318-3,서울특별시 양천구 신정이펜1로 11,37.511413,126.834905
3907,2019,19440410,고등학교,풍문고등학교,서울특별시 강남구 자곡동 643,서울특별시 강남구 자곡로 152,37.471360,127.099965

In [380]:
file['구'] = file['소재지지번주소'].str.split(' ').str[1]
file

,년,설립일자,업태구분명,학교명,소재지지번주소,소재지도로명주소,위도,경도,구
0,2017,19591010,초등학교,서울휘경초등학교,서울특별시 동대문구 휘경동 302-2,서울특별시 동대문구 망우로6길 48,37.585736,127.058213,동대문구
1,2017,19840523,초등학교,서울동답초등학교,서울특별시 동대문구 답십리동 2-24,서울특별시 동대문구 답십리로60길 12,37.571503,127.064034,동대문구
2,2017,19621129,초등학교,서울답십리초등학교,서울특별시 동대문구 답십리동 274,서울특별시 동대문구 전농로3길 23,37.568804,127.055429,동대문구
3,2017,19720509,초등학교,서울신답초등학교,서울특별시 동대문구 답십리동 463-13,서울특별시 동대문구 천호대로 177,37.572705,127.042962,동대문구
4,2017,19481101,초등학교,서울용두초등학교,서울특별시 동대문구 용두동 237-1,서울특별시 동대문구 천호대로13길 43,37.576415,127.028387,동대문구
...,...,...,...,...,...,...,...,...,...
3903,2019,20170301,고등학교,도선고등학교,서울특별시 성동구 하왕십리동 1070-4,서울특별시 성동구 마장로 156,37.566843,127.026994,성동구
3904,2019,19470624,고등학교,환일고등학교,서울특별시 마포구 아현동 393-1,서울특별시 중구 환일길 47,37.553868,126.962210,마포구
3905,2019,19440908,고등학교,계성고등학교,서울특별시 성북구 길음동 1284-15,서울특별시 성북구 길음로 63,37.607493,127.020181,성북구
3906,2019,19800926,고등학교,대일관광고등학교,서울특별시 양천구 신정동 1318-3,서울특별시 양천구 신정이펜1로 11,37.511413,126.834905,양천구
3907,2019,19440410,고등학교,풍문고등학교,서울특별시 강남구 자곡동 643,서울특별시 강남구 자곡로 152,37.471360,127.099965,강남구

In [381]:
ele = file[file['업태구분명']=='초등학교'].reset_index(drop=True)
mid = file[file['업태구분명']=='중학교'].reset_index(drop=True)
high = file[file['업태구분명']=='고등학교'].reset_index(drop=True)

In [383]:
data1 = ele['학교명'].groupby([ele['년'], ele['구']]).count().reset_index()
data2 = mid['학교명'].groupby([mid['년'], mid['구']]).count().reset_index()
data3 = high['학교명'].groupby([high['년'], high['구']]).count().reset_index()
data1

       년    구  학교명
0   2017  강남구   31
1   2017  강동구   25
2   2017  강북구   14
3   2017  강서구   35
4   2017  관악구   22
..   ...  ...  ...
70  2019  용산구   15
71  2019  은평구   31
72  2019  종로구   13
73  2019   중구   12
74  2019  중랑구   23

[75 rows x 3 columns]

#### 초등학교

In [385]:
data_2017 = data1[data1['년']==2017].reset_index(drop=True)
data_2018 = data1[data1['년']==2018].reset_index(drop=True)
data_2019 = data1[data1['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['학교명'][i] - data_2017['학교명'][i])/data_2018['학교명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['학교명'][i] - data_2018['학교명'][i])/data_2019['학교명'][i])*100, 2))

In [386]:
school_df1 = pd.DataFrame(data_2017['구'])
school_df1['데이터'] = '초등학교'
school_df1['2017년 대비 2018년 증감률'] = cnt_2017
school_df1['2018년 대비 2019년 증감률'] = cnt_2018
school_df1 = school_df1[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
school_df1

     데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   초등학교   강남구                0.00                0.00
1   초등학교   강동구                0.00                0.00
2   초등학교   강북구                0.00                0.00
3   초등학교   강서구                0.00                0.00
4   초등학교   관악구                0.00                0.00
5   초등학교   광진구                0.00                0.00
6   초등학교   구로구                0.00                7.69
7   초등학교   금천구                0.00                0.00
8   초등학교   노원구                0.00                0.00
9   초등학교   도봉구                0.00                0.00
10  초등학교  동대문구                0.00                0.00
11  초등학교   동작구                0.00                0.00
12  초등학교   마포구                0.00                0.00
13  초등학교  서대문구                0.00                0.00
14  초등학교   서초구                0.00                0.00
15  초등학교   성동구                0.00                0.00
16  초등학교   성북구                0.00                0.00
17  초등학교   송파구                0.00                2.50
18  초등학교   양천구                0.00                0.00
19  초등학교  영등포구                0.00                0.00
20  초등학교   용산구                0.00                0.00
21  초등학교   은평구                3.23                0.00
22  초등학교   종로구                0.00                0.00
23  초등학교    중구                0.00                0.00
24  초등학교   중랑구                0.00                0.00

#### 중학교

In [387]:
data_2017 = data2[data2['년']==2017].reset_index(drop=True)
data_2018 = data2[data2['년']==2018].reset_index(drop=True)
data_2019 = data2[data2['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['학교명'][i] - data_2017['학교명'][i])/data_2018['학교명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['학교명'][i] - data_2018['학교명'][i])/data_2019['학교명'][i])*100, 2))

In [388]:
school_df2 = pd.DataFrame(data_2017['구'])
school_df2['데이터'] = '중학교'
school_df2['2017년 대비 2018년 증감률'] = cnt_2017
school_df2['2018년 대비 2019년 증감률'] = cnt_2018
school_df2 = school_df2[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
school_df2

    데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   중학교   강남구                0.00                0.00
1   중학교   강동구                0.00                0.00
2   중학교   강북구                0.00                0.00
3   중학교   강서구                0.00                0.00
4   중학교   관악구                0.00                0.00
5   중학교   광진구                0.00                0.00
6   중학교   구로구                0.00                0.00
7   중학교   금천구                0.00                0.00
8   중학교   노원구                0.00                0.00
9   중학교   도봉구                0.00                0.00
10  중학교  동대문구                0.00                0.00
11  중학교   동작구                0.00                0.00
12  중학교   마포구                0.00                0.00
13  중학교  서대문구                0.00                0.00
14  중학교   서초구                6.25                0.00
15  중학교   성동구                0.00                0.00
16  중학교   성북구                0.00                0.00
17  중학교   송파구                0.00                3.57
18  중학교   양천구                0.00                0.00
19  중학교  영등포구                0.00                0.00
20  중학교   용산구                0.00                0.00
21  중학교   은평구                0.00                0.00
22  중학교   종로구                0.00                0.00
23  중학교    중구                0.00                0.00
24  중학교   중랑구                0.00                0.00

#### 고등학교

In [389]:
data_2017 = data3[data3['년']==2017].reset_index(drop=True)
data_2018 = data3[data3['년']==2018].reset_index(drop=True)
data_2019 = data3[data3['년']==2019].reset_index(drop=True)

cnt_2017 = []
cnt_2018 = []

for i in range(25) :
    cnt_2017.append(round(((data_2018['학교명'][i] - data_2017['학교명'][i])/data_2018['학교명'][i])*100, 2))
    cnt_2018.append(round(((data_2019['학교명'][i] - data_2018['학교명'][i])/data_2019['학교명'][i])*100, 2))

In [390]:
school_df3 = pd.DataFrame(data_2017['구'])
school_df3['데이터'] = '고등학교'
school_df3['2017년 대비 2018년 증감률'] = cnt_2017
school_df3['2018년 대비 2019년 증감률'] = cnt_2018
school_df3 = school_df3[['데이터', '구', '2017년 대비 2018년 증감률', '2018년 대비 2019년 증감률']]
school_df3

     데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   고등학교   강남구                 0.0                 0.0
1   고등학교   강동구                 0.0                 0.0
2   고등학교   강북구                 0.0                 0.0
3   고등학교   강서구                 0.0                 0.0
4   고등학교   관악구                 0.0                 0.0
5   고등학교   광진구                 0.0                 0.0
6   고등학교   구로구                 0.0                 0.0
7   고등학교   금천구                 0.0                 0.0
8   고등학교   노원구                 0.0                 0.0
9   고등학교   도봉구                 0.0                 0.0
10  고등학교  동대문구                 0.0                 0.0
11  고등학교   동작구                 0.0                 0.0
12  고등학교   마포구                 0.0                 0.0
13  고등학교  서대문구                 0.0                 0.0
14  고등학교   서초구                 0.0                 0.0
15  고등학교   성동구                 0.0                 0.0
16  고등학교   성북구                 0.0                 0.0
17  고등학교   송파구                 0.0                 0.0
18  고등학교   양천구                 0.0                 0.0
19  고등학교  영등포구                 0.0                 0.0
20  고등학교   용산구                 0.0                 0.0
21  고등학교   은평구                 0.0                 0.0
22  고등학교   종로구                 0.0                 0.0
23  고등학교    중구                 0.0                 0.0
24  고등학교   중랑구                 0.0                 0.0

In [391]:
# 초중고등학교 데이터 병합
school_df = pd.concat([school_df1, school_df2, school_df3], axis=0)
school_df

     데이터    구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   초등학교  강남구                 0.0                 0.0
1   초등학교  강동구                 0.0                 0.0
2   초등학교  강북구                 0.0                 0.0
3   초등학교  강서구                 0.0                 0.0
4   초등학교  관악구                 0.0                 0.0
..   ...  ...                 ...                 ...
20  고등학교  용산구                 0.0                 0.0
21  고등학교  은평구                 0.0                 0.0
22  고등학교  종로구                 0.0                 0.0
23  고등학교   중구                 0.0                 0.0
24  고등학교  중랑구                 0.0                 0.0

[75 rows x 4 columns]

In [392]:
school_df.to_csv('data/증감률/FIN/2017~2019 구별 학교 증감률(cp949).csv', encoding='cp949', index=False)

#### 3) 대학교

In [395]:
# 파일 불러오기
file = pd.read_csv('data/증감률/대학교(전처리 완료, cp949).csv', encoding='cp949')
file

,학교종류,학교명,설립,주소,행정시,행정구,행정동,경도,위도
0,일반대학,서울시립대학교,공립,서울 동대문구 서울시립대로 163 (전농동 90번지),서울특별시,동대문구,휘경2동,127.060864,37.583018
1,일반대학,서울여자대학교,사립,서울특별시 노원구 화랑로 621 서울여자대학교,서울특별시,노원구,공릉2동,127.090476,37.629322
2,일반대학,숙명여자대학교,사립,서울 용산구 청파로47길 100 숙명여자대학교,서울특별시,용산구,청파동,126.965768,37.545975
3,일반대학,숭실대학교,사립,서울 동작구 상도동 511 숭실대학교,서울특별시,동작구,상도1동,126.957198,37.496344
4,전문대학(2년제),숭의여자대학교,사립,서울특별시 중구 소파로2길 10(예장동),서울특별시,중구,필동,126.987229,37.556770
...,...,...,...,...,...,...,...,...,...
57,전문대학(3년제),서울여자간호대학교,사립,서울특별시 서대문구 간호대로 38,서울특별시,서대문구,홍제2동,126.947757,37.597570
58,전문대학(2년제),서일대학교,사립,서울특별시 중랑구 용마산로90길 28,서울특별시,중랑구,면목제3.8동,127.097199,37.586075
59,일반대학,성공회대학교,사립,서울특별시 구로구 연동로 320,서울특별시,구로구,오류2동,126.825661,37.488119
60,일반대학,그리스도대학교,사립,서울특별시 강서구 까치산로24길 47,서울특별시,강서구,화곡본동,126.854158,37.548687
61,일반대학,동덕여자대학교,사립,서울특별시 성북구 화랑로13길 60,서울특별시,성북구,삼선동,127.044073,37.606701

In [400]:
# 대학교는 2017~2019년 데이터가 모두 같으므로 df 모두 0으로 처리
univ_df = hospital_df.copy()
univ_df

   데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   병원   강남구                8.22                1.35
1   병원   강동구                2.86               -6.06
2   병원   강북구                6.25                0.00
3   병원   강서구                3.12                0.00
4   병원   관악구                6.67               11.76
5   병원   광진구                0.00                8.33
6   병원   구로구                9.52               12.50
7   병원   금천구                0.00               14.29
8   병원   노원구               -4.55                0.00
9   병원   도봉구                0.00                0.00
10  병원  동대문구               -3.12                0.00
11  병원   동작구                7.69                0.00
12  병원   마포구                0.00               11.11
13  병원  서대문구                0.00                0.00
14  병원   서초구                0.00                0.00
15  병원   성동구                0.00                0.00
16  병원   성북구               12.50                0.00
17  병원   송파구                0.00                8.33
18  병원   양천구               10.53                5.00
19  병원  영등포구               -3.12               -3.23
20  병원   용산구                0.00                0.00
21  병원   은평구              -13.04               -4.55
22  병원   종로구               11.11              -12.50
23  병원    중구               -7.69                0.00
24  병원   중랑구              -11.11                0.00

In [401]:
univ_df['데이터'] = '대학교'
univ_df['2017년 대비 2018년 증감률'] = 0.00
univ_df['2018년 대비 2019년 증감률'] = 0.00
univ_df

    데이터     구  2017년 대비 2018년 증감률  2018년 대비 2019년 증감률
0   대학교   강남구                 0.0                 0.0
1   대학교   강동구                 0.0                 0.0
2   대학교   강북구                 0.0                 0.0
3   대학교   강서구                 0.0                 0.0
4   대학교   관악구                 0.0                 0.0
5   대학교   광진구                 0.0                 0.0
6   대학교   구로구                 0.0                 0.0
7   대학교   금천구                 0.0                 0.0
8   대학교   노원구                 0.0                 0.0
9   대학교   도봉구                 0.0                 0.0
10  대학교  동대문구                 0.0                 0.0
11  대학교   동작구                 0.0                 0.0
12  대학교   마포구                 0.0                 0.0
13  대학교  서대문구                 0.0                 0.0
14  대학교   서초구                 0.0                 0.0
15  대학교   성동구                 0.0                 0.0
16  대학교   성북구                 0.0                 0.0
17  대학교   송파구                 0.0                 0.0
18  대학교   양천구                 0.0                 0.0
19  대학교  영등포구                 0.0                 0.0
20  대학교   용산구                 0.0                 0.0
21  대학교   은평구                 0.0                 0.0
22  대학교   종로구                 0.0                 0.0
23  대학교    중구                 0.0                 0.0
24  대학교   중랑구                 0.0                 0.0

In [402]:
univ_df.to_csv('data/증감률/FIN/2017~2019 구별 대학교 증감률(cp949).csv', encoding='cp949', index=False)